<% provide(:title, "About") %>

<div class="w3-content w3-container w3-padding-64">
    <h1 class="w3-center">ABOUT US</h1>

<p>We are an online store selling legacy muscial items such as CDs, Vinyl, and Cassette Tapes. Please browse our catalogue to see
if there is anything that interests you</p>

<p>Thanks for stopping by!</p>

<%= image_tag("homepage.jpg", alt: "About Us", :class => "smallerImgs") %>  

</div>
