<% provide(:title, "Help") %>

<div class="w3-content w3-container w3-padding-64">
    <h1 class="w3-center">NEED HELP?</h1>
    
    <%= image_tag("help.jpg", alt: "Welcome Logo", :class => "smallerImgs") %>  

<p>Please use the contact details below if you require any assistance or have any musical related queries. Thanks!</p>

<p>Email: help@bsharprecords.ie</p>
<p>Phone: 09165326</p>
<p>Fax: 4567895</p>



</div>
